ul{
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a{
	text-decoration: none;
}

.my-btn-primary {
	border: none;
	cursor: pointer;
	color: white;
	font-weight: 600;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	background-color: #107eec;
}
